@font-face {
    font-family: 'Laqonic4FUnicase';
    src: url('./fonts/Laqonic4FUnicase.eot');
    src: url('./fonts/Laqonic4FUnicase.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Laqonic4FUnicase.svg#Laqonic4FUnicase') format('svg'),
         url('./fonts/Laqonic4FUnicase.ttf') format('truetype'),
         url('./fonts/Laqonic4FUnicase.woff') format('woff'),
         url('./fonts/Laqonic4FUnicase.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Laqonic4FUnicase-Medium';
    src: url('./fonts/Laqonic4FUnicase-Medium.eot');
    src: url('./fonts/Laqonic4FUnicase-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Laqonic4FUnicase-Medium.svg#Laqonic4FUnicase-Medium') format('svg'),
         url('./fonts/Laqonic4FUnicase-Medium.ttf') format('truetype'),
         url('./fonts/Laqonic4FUnicase-Medium.woff') format('woff'),
         url('./fonts/Laqonic4FUnicase-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  


  @font-face {
    font-family: 'Laqonic4FUnicase-Italic';
    src: url('./fonts/Laqonic4FUnicase-Italic.eot');
    src: url('./fonts/Laqonic4FUnicase-Italic.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Laqonic4FUnicase-Italic.svg#Laqonic4FUnicase-Italic') format('svg'),
         url('./fonts/Laqonic4FUnicase-Italic.ttf') format('truetype'),
         url('./fonts/Laqonic4FUnicase-Italic.woff') format('woff'),
         url('./fonts/Laqonic4FUnicase-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  


@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('./fonts/MuseoSansCyrl-300.eot');
    src: url('./fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
         url('./fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg'),
         url('./fonts/MuseoSansCyrl-300.ttf') format('truetype'),
         url('./fonts/MuseoSansCyrl-300.woff') format('woff'),
         url('./fonts/MuseoSansCyrl-300.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('./fonts/MuseoSansCyrl-500.eot');
    src: url('./fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
         url('./fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg'),
         url('./fonts/MuseoSansCyrl-500.ttf') format('truetype'),
         url('./fonts/MuseoSansCyrl-500.woff') format('woff'),
         url('./fonts/MuseoSansCyrl-500.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

