.container {
    max-width: 117rem;
    margin: 0 auto;
    // background-color: var(--color-white);
}

.intro {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: 0 50%;

}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    height: 73rem;
    background: //url(../img/img.png) no-repeat top right, 
                linear-gradient(to right bottom, var(--color-grey-light-3), var(--color-grey-light-1));
    border-radius: 3rem;
    padding: 10rem;
}

.teaser {

    display: flex;

    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 10rem;

    background-image: url(../img/bg/BG-Mask-Group-2.png);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.products {

    min-height: 10.45rem;
    width: 100%;
    background-image: url(../img/bg/Group-goods.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    background-attachment: fixed;
}


////////////////////////////////////////////////////
//----------------SWIPER-------------------------



// .swiper-container {
//     width: 100%;
//     height: 100%;
// }

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
// }

// .swiper-pagination {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 44px;
//     bottom: -10px;
//     position: relative;
//     flex: 0 0 100%;
// }

// .swiper-bullet {
//     width: 10px;
//     height: 10px;
//     border: 2px solid #FFBB01;
//     border-radius: 50%;
//     display: inline-block;
//     margin-left: 5px;
//     margin-right: 5px;
// }

// .swiper-bullet-active {
//     background-color: #FFBB01;
// }











